node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
README.md
README-vi.md
.env
.env.example
.nyc_output
coverage
.coverage
.idea
.vscode
*.swp
*.swo
*~
dist/
.prettierignore
.prettierrc
eslint.config.js
docs/
*.log